:root {
    --gutter-base: 1rem;
    --rel-gutter-100: clamp(.5rem, 1rem, 1.5rem);
    --rel-gutter-200: clamp(.75rem, 2vw, 2rem);
    --rel-gutter-400: clamp(1rem, 2vw, 4rem);
    --rel-gutter-500: clamp(1rem, 5vw, 5rem);
}
:root {

    --clr-base-hue: 250;
    --clr-base-sat: 40%;
    --clr-base-lit: 10%;
    --clr-base-alpha: 1;

    --clr-bg-0: hsl(var(--clr-base-hue) var(--clr-base-sat) var(--clr-base-lit));
    --clr-bg-0-translucent: hsla(var(--clr-base-hue) var(--clr-base-sat) var(--clr-base-lit) / .4);
    --clr-bg-100: hsl(var(--clr-base-hue) var(--clr-base-sat) calc(var(--clr-base-lit) + 10%));
    --clr-bg-150: hsl(var(--clr-base-hue) calc(var(--clr-base-sat) - 5%) calc(var(--clr-base-lit) + 16%));
    --clr-bg-200: hsl(var(--clr-base-hue) calc(var(--clr-base-sat) - 10%) calc(var(--clr-base-lit) + 20%));

    --clr-text-0: hsl(var(--clr-base-hue) calc(var(--clr-base-sat) - 30%) calc(var(--clr-base-lit) + 60%));
    --clr-text-100: hsl(var(--clr-base-hue) calc(var(--clr-base-sat) - 10%) calc(var(--clr-base-lit) + 60%));

    --clr-shadow-0: hsla(
        calc(var(--clr-base-hue) - 50)
        calc(var(--clr-base-sat) + 25%)
        calc(var(--clr-base-lit) + 20%) /
        calc(var(--clr-base-alpha) - .25)
    );

    --clr-enlightened: hsla(
        calc(var(--clr-base-hue) - 60)
        calc(var(--clr-base-sat) + 60%)
        calc(var(--clr-base-lit) + 70%) / 
        var(--clr-base-alpha)
    );

    --clr-disabled: hsla(
        0
        0
        calc(var(--clr-base-lit) + 30%) / 
        var(--clr-base-alpha)
    );

    --clr-enlightened-glow: hsla(
        calc(var(--clr-base-hue) - 60)
        calc(var(--clr-base-sat) + 60%)
        calc(var(--clr-base-lit) + 50%) / 
        var(--clr-base-alpha)
    );

    --hue-success: 135;
    --hue-info: 220;
    --hue-warning: 35;
    --hue-error: 0;
    --sat-alert: calc(var(--clr-base-sat) + 50%);
    --lit-alert: calc(var(--clr-base-lit) + 20%);
    --hue-alert: 0;

}
:root {
    --font-size-50: clamp(14px, 1.5vw, 18px);
    --font-size-100: clamp(14px, 2vw, 20px);
    --font-size-200: clamp(20px, 3vw, 32px);
}
:root {
    --transition-fast: 100ms;
    --transition-medium: 200ms;
    --transition-slow: 300ms;
    --transition-ultraslow: 500ms;
    --transition-debug: 5s;

    --loading-transition:
        filter var(--transition-medium) linear,
        background-color var(--transition-medium) linear
}
:root {
    --active-icon-clr: var(--clr-enlightened);
    --active-icon-glow: drop-shadow(0px 0px 5px var(--clr-enlightened-glow)) drop-shadow(0px 0px 8px var(--clr-enlightened-glow));
}
main {
    display: grid;
    grid-template-areas: "files content";
}

aside {
    grid-area: 'files';
}

section.content {
    grid-area: 'content';
}
html {
    font-size: var(--font-size-100);
}

body {
    background-color: var(--clr-bg-0);
    color: var(--clr-text-0);
    font-family: sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
}

a {
    color: var(--clr-text-100);
    text-decoration: none;
}

h1,h2,h3 {
    background: var(--clr-bg-100);
}
