:root {
    --gutter-base: 1rem;
}
:root {

    --clr-base-hue: 250;
    --clr-base-sat: 40%;
    --clr-base-lit: 10%;
    --clr-base-alpha: 1;

    --clr-bg-0: hsl(var(--clr-base-hue) var(--clr-base-sat) var(--clr-base-lit));
    --clr-bg-100: hsl(var(--clr-base-hue) var(--clr-base-sat) calc(var(--clr-base-lit) + 10%));
    --clr-bg-200: hsl(var(--clr-base-hue) calc(var(--clr-base-sat) - 10%) calc(var(--clr-base-lit) + 20%));

    --clr-text-0: hsl(var(--clr-base-hue) calc(var(--clr-base-sat) - 30%) calc(var(--clr-base-lit) + 60%));
    --clr-text-100: hsl(var(--clr-base-hue) calc(var(--clr-base-sat) - 10%) calc(var(--clr-base-lit) + 60%));

}
main {
    display: grid;
    grid-template-areas: "files content";
}

aside {
    grid-area: 'files';
}

section.content {
    grid-area: 'content';
}
body {
    background-color: var(--clr-bg-0);
    color: var(--clr-text-0);
    font-family: sans-serif;
}

a {
    color: var(--clr-text-100);
    text-decoration: none;
}

h1,h2,h3 {
    background: var(--clr-bg-100);
}
