@custom-media --breakpoint-sm (min-width: 40em);
@custom-selector :--heading h1, h2, h3;

@import 'properties/layout';
@import 'properties/colors';
@import 'properties/fonts';
@import 'properties/animation';
@import 'grid';

html {
    font-size: var(--font-size-100);
}

body {
    background-color: var(--clr-bg-0);
    color: var(--clr-text-0);
    font-family: sans-serif;
    height: 100vh;
    padding: 0;
}

a {
    color: var(--clr-text-100);
    text-decoration: none;
}

:--heading {
    background: var(--clr-bg-100);
}