@custom-media --breakpoint-sm (min-width: 40em);
@custom-selector :--heading h1, h2, h3;

@import 'properties/layout';
@import 'properties/colors';
@import 'properties/fonts';
@import 'properties/animation';
@import 'properties/icons';
@import 'grid';

html {
    font-size: var(--font-size-100);
    line-height: var(--line-height-100);
    height:100vh;
}

body {
    background-color: var(--clr-bg-0);
    color: var(--clr-text-0);
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

a {
    color: var(--clr-text-100);
    text-decoration: none;
}

:--heading {
    background: var(--clr-bg-100);
}