:root {
    --transition-fast: 100ms;
    --transition-medium: 200ms;
    --transition-slow: 300ms;
    --transition-ultraslow: 500ms;

    --loading-transition:
        filter var(--transition-medium) linear,
        background-color var(--transition-medium) linear
}